aiofiles==25.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
click==8.3.2
croniter==6.2.2
dnspython==2.8.0
fastapi==0.135.3
gitdb==4.0.12
GitPython==3.1.41
h11==0.16.0
idna==3.11
pydantic==2.12.5
pydantic_core==2.41.5
pymongo==4.16.0
python-dateutil==2.9.0.post0
python-multipart==0.0.26
redis==7.4.0
rq==2.7.0
setuptools==78.1.1
six==1.17.0
smmap==5.0.3
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.44.0
