# Virtual Environment
myenv/
venv/
.env/
.env*

node_modules/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log
